In [3]:
import pandas as pd

In [2]:
from Bio import SeqIO
from Bio import Entrez
Entrez.email = "paiva@unifesp.br"


def fetchProt(acc):
    handle = Entrez.efetch(db="protein", id=acc, rettype="gb", retmode="text")
    record = SeqIO.read(handle, "genbank")
    handle.close()
    return str(record.seq)

In [ ]:
pho = pd.read_csv("/data/datasets/Phosphorylation_site",sep='\t')

In [ ]:
mods = pho[['ACC_ID','MOD_RSD']].copy()

In [ ]:
mods.set_index('ACC_ID', inplace=True)

In [ ]:
mods

In [ ]:
from Bio import SeqIO
from Bio import Entrez
Entrez.email = "paiva@unifesp.br"


def fetchProt(acc):
    handle = Entrez.efetch(db="protein", id=acc, rettype="gb", retmode="text")
    record = SeqIO.read(handle, "genbank")
    handle.close()
    return str(record.seq)

In [ ]:
r = fetchProt("Q8IYH5")

In [ ]:

listaP = pho[['ACC_ID','MOD_RSD']].copy()
listaP = listaP[listaP['MOD_RSD'].str.startswith('Y')].reindex()

In [ ]:
listaP

In [ ]:
seqDF = None    #  pd.DataFrame()

# tamanho da janela N
N = 2
for i,linha in listaP.iterrows():
    loc = linha['MOD_RSD']
    acc = linha['ACC_ID']
    
    l = int(loc[1:].split('-')[0])
    print(loc,acc)

    seq = fetchProt(acc)
    
#     dlin=
    if seqDF is None: 
        seqDF = pd.DataFrame({'ACC_ID':[acc],'LOC':[l],'SEQ':[seq]})
    else:
        seqDF = seqDF.append({'ACC_ID':acc,'LOC':l,'SEQ':seq}, ignore_index = True)
    if seq[l-1]!='Y':
        print("Erro na sequência")
        break
    input(seq[l-N-1:l+N])

In [5]:
n = pd.read_pickle('nitros.pickle').astype({'ACC_ID':str,'LOC':int})

In [6]:
n

      ACC_ID   LOC
0     P04117   118
1     Q9WTX5   160
2     P70670  1820
3     P49023   108
4     Q9D404    86
...      ...   ...
3404  Q9JHW2   153
3405  P04637   182
3406  P70670   354
3407  P70670  1763
3408  Q9WTX5   120

[3409 rows x 2 columns]

In [ ]:
len(listaP)

In [ ]:
seqDF['ACC_ID']=='Q9CQV8'

In [ ]:
'Q9CfQV8' in set(seqDF.ACC_ID )

In [ ]:
seqDF['ACC_ID'].

In [ ]:
seqDF = pd.DataFrame({'ACC_ID':[acc],'LOC':[l],'SEQ':seq})

In [ ]:
sitios = pd.DataFrame({'ACC_ID':[],'LOC':[]})

In [ ]:
sitios

In [ ]:
faltam

In [4]:
sitios = pd.read_pickle('phospho.pickle')
seqs = pd.read_pickle('seqs.pickle')

In [5]:
seqs

             ACC_ID                                                SEQ
0            P31946  MTMDKSELVQKAKLAEQAERYDDMAAAMKAVTEQGHELSNEERNLL...
1            P35213  MTMDKSELVQKAKLAEQAERYDDMAAAMKAVTEQGHELSNEERNLL...
2            Q9CQV8  MTMDKSELVQKAKLAEQAERYDDMAAAMKAVTEQGHELSNEERNLL...
3            P62259  MDDREDLVYQAKLAEQAERYDEMVESMKKVAGMDVELTVEERNLLS...
4            P62258  MDDREDLVYQAKLAEQAERYDEMVESMKKVAGMDVELTVEERNLLS...
...             ...                                                ...
18484        Q15942  MAAPRPSPAISVSVSAPAFYAPQKKFGPVVAPKPKVNPFRPGDSEP...
18485        O43149  MGNAPSHSSEDEAAAAGGEGWGPHQDWAAVSGTTPGPGVAAPALPP...
18486  XP_001080236  MGNAPSNSSEDEAAAAGGEGWSPHQDWAADSGATPGPGPAAAVLPS...
18487        Q5SSH7  MGNAPSNSSEDEAAAAGGEGWSPHQDWAADSGTTPGPGPAAAVLPS...
18488        Q8IYH5  MAASRSTRVTRSTVGLNGLDESFCGRTLRNRSIAHPEEISSNSQVR...

[18489 rows x 2 columns]

In [1]:
sitios = pd.read_pickle('phospho.pickle').astype({'ACC_ID':str,'LOC':int})
sitios.LOC = sitios.LOC-1

seqs = pd.read_pickle('seqs.pickle')

NameError: name 'pd' is not defined

In [98]:
N=20


for i,rowSeq in seqs.iterrows():
    acc = rowSeq['ACC_ID']
    seq = rowSeq['SEQ']

    listInd = [] # indices de todas as Y
    for ind in range(len(seq)):
        if seq[ind]=="Y":
                if ind>=N and ind<=len(seq)-N:
                    listInd.append(ind)
                    
    sits = sitios[sitios.ACC_ID==acc]
    
    for locY in listInd:
        if locY in list(sits.LOC): # é sítio de fosforilação
            print(1, end=' ')
        else:
            print(0, end=' ')
        print(seq[locY-N:locY+N+1])
    
    break
    for i, loc in sits.LOC.iteritems():
        break

1 KAKLAEQAERYDDMAAAMKAV
1 NEERNLLSVAYKNVVGARRSS
0 NEKKQQMGKEYREKIEAELQD
1 CNDVLELLDKYLIPNATQPES
1 NATQPESKVFYLKMKGDYFRY
1 KVFYLKMKGDYFRYLSEVASG
1 YLKMKGDYFRYLSEVASGDNK
1 QTTVSNSQQAYQEAFEISKKE
1 LGLALNFSVFYYEILNSPEKA
0 GLALNFSVFYYEILNSPEKAC
1 AELDTLNEESYKDSTLIMQLL

In [99]:
list(sits.LOC)

[20, 49, 105, 119, 126, 129, 150, 179, 212]

In [76]:
listInd

[20, 49, 83, 105, 119, 126, 129, 150, 179, 180, 212]

In [78]:
sits.LOC

0      21
2      50
4     106
5     120
6     127
7     130
9     151
10    180
11    213
Name: LOC, dtype: int64

In [77]:
seq[20]

'Y'

In [43]:
for i, loc in sits.LOC.iteritems():
    print(i,loc)

5341 112
5342 133
5343 134

In [69]:
s1[133]

'Y'

In [49]:
sits

      ACC_ID  LOC
5341  Q7JJ13  112
5342  Q7JJ13  133
5343  Q7JJ13  134

In [1]:
len(seqs)

NameError: name 'seqs' is not defined

In [63]:
s1 = seqs[seqs.ACC_ID=='Q7JJ13'].iloc[0,1]

In [65]:
s1

'MLQNVTPHKLPGEGNAGLLGLGPEAAAPGKRIRKPSLLYEGFESPTMASVPALQLAPANPPPPEVSNPKKPGRVTNQLQYLHKVVMKALWKHQFAWPFRQPVDAVKLGLPDYHKIIKQPMDMGTIKRRLENNYYWAASECMQDFNTMFTNCYIYNKPTDDIVLMAQTLEKIFLQKVASMPQEEQELVVTIPKNSHKKGAKLAALQGSITSAHQVPAVSSVSHTALYTPPPEIPTTVLNIPHPSVISSPLLKSLHSAGPPLLAVSAAPPAQPLAKKKGVKRKADTTTPTPTAILAPGSPASPPGSLEPKAARLPPMRRESGRPIKPPRKDLPDSQQQHQSSKKGKLSEQLKHCNGILKELLSKKHAAYAWPFYKPVDASALGLHDYHDIIKHPMDLSTVKRKMENRDYRDAQEFAADVRLMFSNCYKYNPPDHDVVAMARKLQDVFEFRYAKMPDEPLEPGPLPVSTALPPGLTKSSSESSSEESSSESSSEEEEEEEEDEDEEESESSDSEEERAHRLAELQEQLRAVHEQLAALSQGPISKPKRKREKKEKKKKRKAEKHRGRIGIDEDDKGPRAPRPPQPKKSKKAGGGGSNATTLSHPGFGTSGGSSNKLPKKSQKTAPPVLPTGYDSEEEEESRPMSYDEKRQLSLDINKLPGEKLGRVVHIIQAREPSLRDSNPEEIEIDFETLKPSTLRELERYVLSCLRKKPRKPYTIRKPVGKTKEELALEKKRELEKRLQDVSGQLNSTKKPPKKASEKTESSAQQVAVSRLSASSSSSDSSSSSSSSSSSDTSDSDSG'

In [25]:
acc='Q9CQV8'

In [33]:
sitios

             ACC_ID   LOC
0            P31946    21
1            P35213    21
2            P31946    50
3            Q9CQV8    50
4            P31946   106
...             ...   ...
51283        O43149  2494
51284  XP_001080236  2621
51285        Q5SSH7  2739
51286  XP_001080236  2779
51287        Q8IYH5   670

[51288 rows x 2 columns]

In [27]:
sits = sitios[sitios.ACC_ID==acc]

In [31]:
sits.astype({'ACC_ID':str,'LOC':int})

   ACC_ID  LOC
3  Q9CQV8   50
8  Q9CQV8  130

In [24]:
sitios

             ACC_ID     LOC
0            P31946    21.0
1            P35213    21.0
2            P31946    50.0
3            Q9CQV8    50.0
4            P31946   106.0
...             ...     ...
51283        O43149  2494.0
51284  XP_001080236  2621.0
51285        Q5SSH7  2739.0
51286  XP_001080236  2779.0
51287        Q8IYH5   670.0

[51288 rows x 2 columns]

In [19]:
listInd

[12, 22, 37]

In [20]:
s[37:]

'YHELSNEEYRNLL'

In [14]:
seqs

             ACC_ID                                                SEQ
0            P31946  MTMDKSELVQKAKLAEQAERYDDMAAAMKAVTEQGHELSNEERNLL...
1            P35213  MTMDKSELVQKAKLAEQAERYDDMAAAMKAVTEQGHELSNEERNLL...
2            Q9CQV8  MTMDKSELVQKAKLAEQAERYDDMAAAMKAVTEQGHELSNEERNLL...
3            P62259  MDDREDLVYQAKLAEQAERYDEMVESMKKVAGMDVELTVEERNLLS...
4            P62258  MDDREDLVYQAKLAEQAERYDEMVESMKKVAGMDVELTVEERNLLS...
...             ...                                                ...
18484        Q15942  MAAPRPSPAISVSVSAPAFYAPQKKFGPVVAPKPKVNPFRPGDSEP...
18485        O43149  MGNAPSHSSEDEAAAAGGEGWGPHQDWAAVSGTTPGPGVAAPALPP...
18486  XP_001080236  MGNAPSNSSEDEAAAAGGEGWSPHQDWAADSGATPGPGPAAAVLPS...
18487        Q5SSH7  MGNAPSNSSEDEAAAAGGEGWSPHQDWAADSGTTPGPGPAAAVLPS...
18488        Q8IYH5  MAASRSTRVTRSTVGLNGLDESFCGRTLRNRSIAHPEEISSNSQVR...

[18489 rows x 2 columns]

In [ ]:
len(seqs),len(faltam)

In [ ]:
erro = open("erro2","w")

faltam = pd.read_csv("accFaltando", header=None, names=["ACC"])
seqs = pd.read_pickle('seqs.pickle')

for i,acc in faltam.ACC.iteritems():
    print(acc)
    try:
        seq = fetchProt(acc)
    except:
        erro.write(acc + "\n")
        print("Erro "+acc)
        continue
    seqs = seqs.append({'ACC_ID':acc,'SEQ':seq}, ignore_index = True)
#     input()

In [9]:
posfile = open('SNitrosylationNegative.csv')
sitios = pd.DataFrame({'ACC_ID':[],'LOC':[]})
seqs = pd.read_pickle('seqs.pickle')

In [12]:
sitios = pd.DataFrame({'ACC_ID':[],'LOC':[]})

baixadas=0
naobaixa=0
while True:
    line = posfile.readline()
    if line=='':
        break
    line = line.strip()
    partes = line.split('\t')
    
    for i in range(0,len(partes),3):
        acc = partes[i]
        loc = int(partes[i+1])
        sitios = sitios.append({'ACC_ID':acc,'LOC':loc}, ignore_index = True)
        if acc in set( seqs['ACC_ID'] ): # já baixou 
            seq=None
            baixadas+=1
        else:
#             print("Não baixou ", acc )
            naobaixa+=1

In [14]:
baixadas, naobaixa

(9603, 36)

In [15]:
import pandas as pd

In [16]:
seqs = pd.read_pickle('seqs.pickle')
p = pd.read_pickle('phospho.pickle')
n = pd.read_pickle('nitros.pickle')

In [19]:
x = {1,2,3}

set

In [22]:
nacc = set(n.ACC_ID)

In [23]:
pacc = set(p.ACC_ID)

In [24]:
len(nacc),len(pacc)

(1976, 18489)

In [26]:
allacc = nacc.union(pacc)

In [28]:
len(allacc)

19393

In [33]:
len(nacc - pacc), len(pacc - nacc)

(904, 17417)

In [36]:
len( pacc.intersection(nacc) )

1072

In [37]:
from hmmlearn import hmm

In [39]:
import torch

In [40]:
emission = torch.Tensor(
    [
        [0.6, 0.3, 0.1],
        [0.1, 0.7, 0.2],
        [0.2, 0.3, 0.5],
    ])

In [ ]:
for k in torch.range(1, 50):

In [43]:
emission[2]

tensor([0.2000, 0.3000, 0.5000])

In [9]:
inf = open('snpos.seqs')
outf = open('snpos.fas','w')

In [10]:
i=0
while True:
    linha = inf.readline()
    if linha=='':
        break
    i+=1
    outf.write("> "+ str(i)+"\n")
    outf.write(linha)