In [1]:
import pandas as pd

In [2]:
from Bio import SeqIO
from Bio import Entrez
Entrez.email = "paiva@unifesp.br"


def fetchProt(acc):
    handle = Entrez.efetch(db="protein", id=acc, rettype="gb", retmode="text")
    record = SeqIO.read(handle, "genbank")
    handle.close()
    return str(record.seq)

In [ ]:
pho = pd.read_csv("/data/datasets/Phosphorylation_site",sep='\t')

In [ ]:
pho

In [ ]:
mods = pho[['ACC_ID','MOD_RSD']].copy()

In [ ]:
mods.set_index('ACC_ID', inplace=True)

In [ ]:
mods

In [ ]:
from Bio import SeqIO
from Bio import Entrez
Entrez.email = "paiva@unifesp.br"


def fetchProt(acc):
    handle = Entrez.efetch(db="protein", id=acc, rettype="gb", retmode="text")
    record = SeqIO.read(handle, "genbank")
    handle.close()
    return str(record.seq)

In [ ]:
r = fetchProt("Q8IYH5")

In [ ]:

listaP = pho[['ACC_ID','MOD_RSD']].copy()
listaP = listaP[listaP['MOD_RSD'].str.startswith('Y')].reindex()

In [ ]:
listaP

In [ ]:
seqDF = None    #  pd.DataFrame()

# tamanho da janela N
N = 2
for i,linha in listaP.iterrows():
    loc = linha['MOD_RSD']
    acc = linha['ACC_ID']
    
    l = int(loc[1:].split('-')[0])
    print(loc,acc)

    seq = fetchProt(acc)
    
#     dlin=
    if seqDF is None: 
        seqDF = pd.DataFrame({'ACC_ID':[acc],'LOC':[l],'SEQ':[seq]})
    else:
        seqDF = seqDF.append({'ACC_ID':acc,'LOC':l,'SEQ':seq}, ignore_index = True)
    if seq[l-1]!='Y':
        print("Erro na sequÃªncia")
        break
    input(seq[l-N-1:l+N])

In [ ]:
len(listaP)

In [ ]:
seqDF['ACC_ID']=='Q9CQV8'

In [ ]:
'Q9CfQV8' in set(seqDF.ACC_ID )

In [ ]:
seqDF['ACC_ID'].

In [ ]:
seqDF = pd.DataFrame({'ACC_ID':[acc],'LOC':[l],'SEQ':seq})

In [ ]:
sitios = pd.DataFrame({'ACC_ID':[],'LOC':[]})

In [ ]:
sitios

In [ ]:
faltam

In [9]:
sitios = pd.read_pickle('phospho.pickle')
seqs = pd.read_pickle('seqs.pickle')

In [7]:
len(sitios.ACC_ID.unique())

18489

In [10]:
len(sitios), len(seqs)

(51288, 18489)

In [11]:
listaAccSitio = sitios.ACC_ID.unique()

In [12]:
listaAccSeqs = seqs.ACC_ID.unique()

In [13]:
len(listaAccSitio), len(listaAccSeqs)

(18489, 18489)

In [17]:
s = 'MTMYDKSELVQKYAKLAEQAERYDDMAAAMKAVTEQGYHELSNEEYRNLL'

In [32]:
sitios = pd.read_pickle('phospho.pickle').astype({'ACC_ID':str,'LOC':int})
seqs = pd.read_pickle('seqs.pickle')

In [18]:
N=10

listInd = []
for ind in range(len(s)):
    if s[ind]=="Y":
            if ind>=N and ind<=len(s)-N:
                listInd.append(ind)

In [41]:
N=10

for i,rowSeq in seqs.iterrows():
    acc = rowSeq['ACC_ID']
    seq = rowSeq['SEQ']

    sits = sitios[sitios.ACC_ID==acc]
    
    for i, loc in sits.LOC.iteritems():
        break

KeyboardInterrupt:

In [43]:
for i, loc in sits.LOC.iteritems():
    print(i,loc)

5341 112
5342 133
5343 134

In [48]:
seq[112]

'I'

In [49]:
sits

      ACC_ID  LOC
5341  Q7JJ13  112
5342  Q7JJ13  133
5343  Q7JJ13  134

In [56]:
s1 = seqs[seqs.ACC_ID=='Q7JJ13'].SEQ

In [25]:
acc='Q9CQV8'

In [33]:
sitios

             ACC_ID   LOC
0            P31946    21
1            P35213    21
2            P31946    50
3            Q9CQV8    50
4            P31946   106
...             ...   ...
51283        O43149  2494
51284  XP_001080236  2621
51285        Q5SSH7  2739
51286  XP_001080236  2779
51287        Q8IYH5   670

[51288 rows x 2 columns]

In [27]:
sits = sitios[sitios.ACC_ID==acc]

In [31]:
sits.astype({'ACC_ID':str,'LOC':int})

   ACC_ID  LOC
3  Q9CQV8   50
8  Q9CQV8  130

In [24]:
sitios

             ACC_ID     LOC
0            P31946    21.0
1            P35213    21.0
2            P31946    50.0
3            Q9CQV8    50.0
4            P31946   106.0
...             ...     ...
51283        O43149  2494.0
51284  XP_001080236  2621.0
51285        Q5SSH7  2739.0
51286  XP_001080236  2779.0
51287        Q8IYH5   670.0

[51288 rows x 2 columns]

In [19]:
listInd

[12, 22, 37]

In [20]:
s[37:]

'YHELSNEEYRNLL'

In [14]:
seqs

             ACC_ID                                                SEQ
0            P31946  MTMDKSELVQKAKLAEQAERYDDMAAAMKAVTEQGHELSNEERNLL...
1            P35213  MTMDKSELVQKAKLAEQAERYDDMAAAMKAVTEQGHELSNEERNLL...
2            Q9CQV8  MTMDKSELVQKAKLAEQAERYDDMAAAMKAVTEQGHELSNEERNLL...
3            P62259  MDDREDLVYQAKLAEQAERYDEMVESMKKVAGMDVELTVEERNLLS...
4            P62258  MDDREDLVYQAKLAEQAERYDEMVESMKKVAGMDVELTVEERNLLS...
...             ...                                                ...
18484        Q15942  MAAPRPSPAISVSVSAPAFYAPQKKFGPVVAPKPKVNPFRPGDSEP...
18485        O43149  MGNAPSHSSEDEAAAAGGEGWGPHQDWAAVSGTTPGPGVAAPALPP...
18486  XP_001080236  MGNAPSNSSEDEAAAAGGEGWSPHQDWAADSGATPGPGPAAAVLPS...
18487        Q5SSH7  MGNAPSNSSEDEAAAAGGEGWSPHQDWAADSGTTPGPGPAAAVLPS...
18488        Q8IYH5  MAASRSTRVTRSTVGLNGLDESFCGRTLRNRSIAHPEEISSNSQVR...

[18489 rows x 2 columns]

In [ ]:
len(seqs),len(faltam)

In [ ]:
erro = open("erro2","w")

faltam = pd.read_csv("accFaltando", header=None, names=["ACC"])
seqs = pd.read_pickle('seqs.pickle')

for i,acc in faltam.ACC.iteritems():
    print(acc)
    try:
        seq = fetchProt(acc)
    except:
        erro.write(acc + "\n")
        print("Erro "+acc)
        continue
    seqs = seqs.append({'ACC_ID':acc,'SEQ':seq}, ignore_index = True)
#     input()